name: Build QtApng
on: [workflow_dispatch, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            qtVersion: '6.9.3'
            buildArch: 'X64'
          - os: ubuntu-24.04-arm
            qtVersion: '6.9.3'
            buildArch: 'Arm64'
          - os: macos-26
            qtVersion: '6.9.3'
            buildArch: 'Universal'
          - os: macos-13
            qtVersion: '5.15.2'
            buildArch: 'X64'
          - os: windows-2022
            qtVersion: '6.9.3'
            qtArch: 'win64_msvc2022_64'
            buildArch: 'X64'
          - os: windows-2022
            qtVersion: '6.9.3'
            qtArch: 'win64_msvc2022_arm64_cross_compiled'
            buildArch: 'Arm64'
          - os: windows-2022
            qtVersion: '5.15.2'
            qtArch: 'win32_msvc2019'
            buildArch: 'X86'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jdpurcell/install-qt-action@v5
        with:
          version: ${{ matrix.qtVersion }}
          arch: ${{ matrix.qtArch }}
          cache: true
          use-naqt: true
          setup-python: false

      - name: Build QtApng
        env:
          buildArch: ${{ matrix.buildArch }}
        shell: pwsh
        run: pwsh/buildapng.ps1

      - name: Upload artifact
        if: github.ref != 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          path: QtApng/output
          name: QtApng-${{ runner.os }}-${{ matrix.qtVersion }}-${{ matrix.buildArch }}

      - name: Zip artifact
        if: github.ref == 'refs/heads/master'
        uses: thedoctor0/zip-release@0.7.6
        with:
          directory: QtApng/output
          filename: QtApng-${{ runner.os }}-${{ matrix.qtVersion }}-${{ matrix.buildArch }}.zip

      - name: Upload to continuous release
        if: github.ref == 'refs/heads/master'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: cont
          files: QtApng/output/QtApng-*.zip
